---
theme :
  name : the-minimum
---
<!--多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
  var duoshuoQuery = {short_name:"{{ site.JB.comments.duoshuo.short_name }}"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!--多说js加载结束，一个页面只需要加载一次 -->

{% include JB/setup %}
{% include themes/the-minimum/default.html %}

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			equationNumbers: {
				autoNumber: "all"
			}
		}
	});
</script>
<script type="text/javascript"
	src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<style>
.em {
	color: #03a;
	box-shadow: 0px 0px 6px;
	padding: 0.2em;
	background-color: #eee;
}

.entry-content img {
	color: #03a;
	box-shadow: 0px 0px 6px;
	width: 61.8%;
}

.figure-comment {
	text-align: center;
	font-size: 0.8em;
	margin-top: -1.8em;
	margin-bottom: 0.2em;
	width: 70%;
	margin-left: 15%;
}
</style>

