---
theme :
  name : the-minimum
---
{% include JB/setup %}
{% include themes/the-minimum/default.html %}

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			equationNumbers: {
				autoNumber: "all"
			}
		}
	});
</script>
<script type="text/javascript"
	src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<style>
.em {
	color: #03a;
	box-shadow: 0px 0px 6px;
	padding: 0.2em;
	background-color: #eee;
}

.entry-content img {
	color: #03a;
	box-shadow: 0px 0px 6px;
	width: 61.8%;
}

.figure-comment {
	text-align: center;
	font-size: 0.8em;
	margin-top: -1.8em;
	margin-bottom: 0.2em;
	width: 70%;
	margin-left: 15%;
}
</style>

